section.main
  .container
    .main__body
      form.main-form
        label.main-form__label
          input.main-form__input.main-form__input--name(type="text" name="name"  placeholder="Name")
        label.main-form__label
          input.main-form__input.main-form__input--phone(id="phone" type="tel" name="phone" placeholder="Phone")
        label.main-form__label
          input.main-form__input.main-form__input--file(type="file" name="photo" placeholder="Photo")
        button.main-form__btn(type="submit") SUBMIT
        
 
          


        
      
