.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: $black-02;

  &__body {
    display: flex;
    justify-content: center;
  }

  &__title > h1 {
    letter-spacing: 8;

    color: $white-02;
  }

  &__title span {
    letter-spacing: 2;

    color: $black-02;
  }
}
