.main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-form {
  width: 500px;
  min-height: 400px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;

  box-shadow: 0px 10px 20px rgb(0 0 0 / 12%), 0px 2px 6px rgb(0 0 0 / 12%),
    0px 0px 1px rgb(0 0 0 / 12%);

  background-color: $black-02;

  &__label {
    border: 1px solid $black-02;
    transition: 250ms linear;

    background-color: $white-02;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover,
    &:focus {
      box-shadow: 0px 10px 20px rgb(0 0 0 / 12%), 0px 2px 6px rgb(0 0 0 / 12%),
        0px 0px 1px rgb(0 0 0 / 12%);
    }
  }

  &__input {
    padding: 10px;
    width: 100%;
    border: none;
    color: $white;

    background-color: transparent;

    &--file {
      cursor: pointer;
    }

    // &.is-invalid {
    //   box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    // }
  }

  &__btn {
    font-size: 20px;
    height: 40px;
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: auto;
    transition: 250ms linear;

    color: $black-02;
    background-color: $white-02;

    &:hover,
    &:focus {
      color: $white-02;
      box-shadow: 0px 10px 20px rgb(0 0 0 / 12%), 0px 2px 6px rgb(0 0 0 / 12%),
        0px 0px 1px rgb(0 0 0 / 12%);
    }
  }
}

.calc {
  width: 400px;
  height: 575px;
  padding: 40px 20px 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 12%), 0px 2px 6px rgb(0 0 0 / 12%),
    0px 0px 1px rgb(0 0 0 / 12%);

  color: $white;

  background-color: $black-02;

  &__screen > p {
    font-size: 40px;
    margin-bottom: 30px;
  }

  &__btns {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 20px;
  }

  &__btn {
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms linear;
    user-select: none;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.7;
      transform: scale(1.02);
    }

    &--zero {
      width: 165px;

      border-radius: 50px;
    }

    &--bg-orange {
      background-color: orange;
    }
    &--bg-gray {
      background-color: gray;
    }
    &--bg-gray-opacity {
      background-color: rgb(255, 255, 255, 0.2);
    }
  }
}
